#!KAMAILIO

loadmodule "pv"
loadmodule "tm"
loadmodule "sl"
loadmodule "tmx"
loadmodule "rr"
loadmodule "xlog"
loadmodule "ctl"
loadmodule "textops"
loadmodule "siputils"
loadmodule "corex"

log_prefix      = "[$ci $rm-$cs] "
log_prefix_mode = 1;



request_route {
    route(REPLY_200);
    exit;
}


route[REPLY_200] {
    xcrit("$$Ri:  $Ri\n");
    append_to_reply("Contact: <sip:$tU@$Ri>\r\n");
    send_reply("200", "OK");
}


route[CANCELS_AND_ACKS] {
	# CANCEL processing
	if ( is_method("CANCEL") ) {
		if ( t_check_trans() ) {
			route(RELAY);
		}
		exit;
	}

	# handle retransmissions
	if ( !is_method("ACK") ) {
		if ( t_precheck_trans() ) {
			t_check_trans();
			exit;
		}

		t_check_trans();
	}
}


route[WITHINDLG] {
	if ( !has_totag() ) {
        return;
    }

	# sequential request within a dialog should
	# take the path determined by record-routing
	if ( loose_route() ) {
        if ( is_method("NOTIFY|REFER") ) {
			# Add Record-Route for in-dialog NOTIFY and REFER (RFC6665, RFC3515)
			record_route();
		}

		route(RELAY);
		exit;
	}

	if ( is_method("ACK") ) {
		if ( t_check_trans() ) {
            ## no loose-route, but stateful ACK; must be an ACK after a 487 or
            ## e.g. 404 from upstream server

			route(RELAY);
			exit;
		}

        xinfo("ACK without matching transaction ... ignore and discard\n");
        exit;
	}
	sl_send_reply("404", "Not here");
	exit;
}


route[RELAY] {
    if ( !t_relay() ) {
        xerr("t_relay() failed. Return code $rc\n");
    }
}


