#!KAMAILIO

loadmodule "pv"
loadmodule "tm"
loadmodule "sl"
loadmodule "tmx"
loadmodule "rr"
loadmodule "xlog"
loadmodule "ctl"
loadmodule "textops"
loadmodule "siputils"
loadmodule "corex"
loadmodule "kex"
loadmodule "dialog"

log_prefix      = "[$ci $(rm{s.substr,0,3})-$cs] $cfg(route) "
log_prefix_mode = 1;

modparam("dialog", "profiles_with_value", "concurrent_outbound_calls")
modparam("dialog", "track_cseq_updates", 1)


request_route {
    xinfo("$cfg(route) request recieved\n");

    route(CANCELS_AND_RETRANSMISSIONS);
    route(WITHINDLG);
    route(RECORD_ROUTE);

    $avp(second) = 0;

    dlg_manage();

    set_dlg_profile("concurrent_outbound_calls","$fU");

    route(ACTIVE_CALL_COUNT);

    route(RELAY);
}


route[ACTIVE_CALL_COUNT] {
    if ( get_profile_size("concurrent_outbound_calls", "$fU", "$avp(calls)") ) {
        xinfo("There are $avp(calls) active calls\n");
    }
    else {
        xerr("Calling get_profile_size FAILED!\n");
    }
}


route[CANCELS_AND_RETRANSMISSIONS] {
	# CANCEL processing
	if ( is_method("CANCEL") ) {
		if ( t_check_trans() ) {
            xinfo("CANCEL for an existing transaction.  Relay it\n");
			route(RELAY);
		}
		exit;
	}

	# handle retransmissions
	if ( !is_method("ACK") ) {
		if ( t_precheck_trans() ) {
			t_check_trans();
			exit;
		}

		t_check_trans();
	}
}


route[WITHINDLG] {
	if ( !has_totag() ) {
        return;
    }

    dlg_manage();
    route(ACTIVE_CALL_COUNT);

	# sequential request within a dialog should
	# take the path determined by record-routing
	if ( loose_route() ) {
        xdbg("Loose routed request\n");
        if ( is_method("NOTIFY|REFER") ) {
			# Add Record-Route for in-dialog NOTIFY and REFER (RFC6665, RFC3515)
			record_route();
		}

		route(RELAY);
		exit;
	}

	if ( is_method("ACK") ) {
        xdbg("In dialog ACK, not loose routed\n");

		if ( t_check_trans() ) {
            xdbg("Non loose routed but stateful ACK.  Relay it\n");
            ## no loose-route, but stateful ACK; must be an ACK after a 487 or
            ## e.g. 404 from upstream server
			route(RELAY);
			exit;
		}

        xinfo("ACK without matching transaction ... ignore and discard\n");
        exit;
	}

	send_reply("404", "Not here");
	exit;
}


route[RECORD_ROUTE] {
	remove_hf("Route");

    if ( is_method("INVITE|SUBSCRIBE|REFER") ) {
		record_route();
	}
}


route[RELAY] {
    $du = "sip:uas1;transport=tcp";

    if ( is_method("BYE") ) {
        $du = "sip:uas2;transport=tcp";
    }

    t_on_branch("MANAGE_BRANCH");

    if ( !t_relay() ) {
        xcrit("t_relay() failed \n");
    }
}


branch_route[MANAGE_BRANCH] {
    xinfo("BRANCH ROUTE!\n");
}
